<div class="col-md-12">
	<div class="panel panel-defaul room" ng-controller="RoomCtrl">
		<div class="panel-heading room-header">Chat-Room</div>
		<div class="panel-body room-content">
		<!-- 消息列表很多时 自动滚动到底部 -->
			<div class="list-group messages" auto-scroll-to-bottom>
				<div class="list-group-item message" ng-repeat="message in messages">
					某某：{{message}}
				</div>
			</div>
			<form class="message-creator" ng-controller="MessageCreatorCtrl">
				<div class="form-group">
				<!-- ctrl+enter自动换行 enter发送消息 -->
					<textarea required class="form-control message-input" placeholder="Ctrl+Enter to quick send" ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
				</div>
			</form>
		</div>
	</div>
</div>